{% extends 'events/base.html' %}


{% block content %}
	<center>
{%if user.is_authenticated%}
	{%if user == event.manager%}
	<h1>Update Event</h1>

	<form action="" method="POST">
		{%csrf_token%}
		{{form.as_p}}
		<br>
		<input type="submit" value="Update" class="btn btn-secondary">
	</form>
	{%else%}
		<h1>Only event manager can update event</h1>
	Logged in user:{{user}}
	<br>
	Event manager:{{event.manager}}
	<br>
	{%endif%}

{%else%}
<h1>You must be logged in to view this page</h1>
<a class="btn btn-secondary" href="{% url 'login' %}">Login Here</a>
{%endif%}

	</center>
{% endblock %}
